<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>登陆页面</title>
        <!-- Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <style>
            /*web background*/
            .container{
                display:table;
                height:100%;
            }

            .row{
                display: table-cell;
                vertical-align: middle;
            }
            /* centered columns styles */
            .row-centered {
                text-align:center;
            }
            .col-centered {
                display:inline-block;
                float:none;
                text-align:left;
                margin-right:-4px;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row row-centered">
                <div class="well col-md-4 col-centered">
                    <h5>用户登陆</h5>
                        <div class="input-group input-group-md">
                            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" id="userid" name="userid" placeholder="请输入ldap账号"/>
                        </div>
                        <div class="input-group input-group-md">
                            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码"/>
                        </div>
                        <br/>
                        <button  onclick="login()" class="btn btn-success btn-block ">确认</button>
                </div>

            </div>
        </div>


        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
{#        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>#}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <script>
        function login() {
            var username = document.getElementById("userid").value;
            var password = document.getElementById("password").value;

            if(username == '') {
                alert('请输入用户名');
                return false;
            }
            if(password == '') {
                alert('请输入密码');
                return false;
            }


            var data = JSON.stringify({'username': username, 'password': password});
            fetch('/get-token', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: data
            })
            .then(response => response.json())
            .then(data => {
                // 获取到 token
                var token = data.token;
                // 将 token 存储在 Local Storage 中
                localStorage.setItem('ops_token', token);
                // 将 token 存储在cookie中
                document.cookie = `token=${token}; path=/`;
                // 重定向到首页
                window.location.href = '/home';
            })
            .catch(error => {
                console.error(error);
                alert('登录失败，请重试');
            });
        }
    </script>

    </body>
</html>

